# exclude nested, i.e., single-suite installations
# within this suite's git repository, or single-suite containers
/rudi/
/bin/
/config/
/containers/
/data/
/environments/
/frameworks/
/remote/
/resources/
/sessions/
/suites/

# exclude Rust pipeline build artifacts
**/crates/target
**/crates/*/target
**/*.rs.bk
target.*.tar
target.*.tar.zst

# exclude Rust app build artifacts
/apps/dioxus/target
/apps/dioxus/*/target
/apps/dioxus/shared/server/target

# exclude development artifacts and temporary files
unused/
old/
_unused/
_old/
test.*
