# exclude nested, i.e., single-suite installations
# within this suite's git repository, or single-suite containers
/rudi/
/containers/

# exclude Rust build artifacts
**/crates/target
**/crates/Cargo.lock
**/crates/*/target
**/crates/*/Cargo.lock

# exclude development artifacts and temporary files
unused/
old/
_unused/
_old/
test.*
